{% extends 'base.html' %}
{% load humanize %}

{% block extra-title %}Review : {{ submission }} | {% endblock %}

{% block extra-css %}
.checkbox-good[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #4caf50;
     background-color: #4caf50;
}
.checkbox-bad[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #b71c1c;
     background-color: #b71c1c;
}
{% endblock %}

{% block content %}
<div class="row">
	<h3>Details</h3>
	<p>Student : {{ submission.student }}</p>
	<p>Submitted : {{ submission.submitted_at }} ({{ submission.submitted_at|naturaltime }})</p>
	<p><a href="{% url 'submission-review-pdf' submission.id %}" target="_blank"><i class="material-icons">attach_file</i> Get Results in PDF</a></p>
	<h3>Exam</h3>
	<p><strong>{{ submission.exam.subject }}</strong></p>
	<p><strong>{{ submission.exam.name }}</strong></p>
	<p><em>{{ submission.exam.description }}</em></p>
	<h3>Result</h3>
	<h5><strong>{{ normalized_scale|floatformat:"0" }} / 20 </strong></h5>
	<p>Your direct score was : {{ submission.result }} / {{ submission.exam.global_scale }}</p>
	<h3>Marking</h3>
	{% for question in results_per_question %}
	<div class="row">
		<div class="input-field col s12">
			<p><strong>{{ forloop.counter }}. {{ question.0.label }}</strong></p>
			<p class="{% if question.1 == question.2 %}green-text{% else %}red-text{% endif %}"><strong>{{ question.1 }} / {{ question.2 }}</strong></p>
			{% if question.0.snippet %}
			<pre><code class="{{ question.0.snippet_language }}">{{ question.0.snippet }}</code></pre>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			{% for answer in question.0.possible_answers.all %}
			<p>
				<input type="checkbox" disabled name="question_{{ question.0.pk }}" id="id_question_{{ question.0.pk }}_{{ answer.pk }}" value="{{ answer.pk }}"{% if answer in submission.replies.all %} checked="checked"{% endif %} class="filled-in {% if answer.is_correct %}checkbox-good{% else %}checkbox-bad{% endif %}"/>
				<label for="id_question_{{ question.0.pk }}_{{ answer.pk }}">{{ answer.label }}</label>
			</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
{% endblock %}